name: Milestone Assigned

on:
  pull_request:
    types: [milestoned, demilestoned, opened, synchronize]

jobs:
  check-milestone:
    runs-on: ubuntu-latest

    steps:
      - name: Check for milestone
        run: |
          if [ -z "${{ github.event.pull_request.milestone }}" ]; then
            echo "::set-output name=milestone::false"
            echo "No milestone assigned. Please add a milestone to this pull request." > message.md
            exit 1
          else
            echo "::set-output name=milestone::true"
            exit 0
          fi
